<!DOCTYPE html>
<html lang="en" class="" data-ng-app="loginApp">
    <head>
        <meta charset="utf-8" />
        <meta charset="ISO-8859-1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Login</title>
        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="css/web.css" />
        <link rel="stylesheet" href="css/loginstyle.css" />
        <style type="text/css">
        	
        </style>
    </head>
    <body class="body" data-ng-controller="loginController">
        <section class="container">
            <div class="">
            	<div class="row form-horizontal">
            		<div class="col-md-4 col-md-offset-4"> 
		                <form action="#" method="post" name="loginForm" novalidate>
			                <div id="loginHeader">
			                	<h4 style="text-align: center">
			                		<span class="glyphicon glyphicon-user"></span> &nbsp;<strong>Login Here</strong>
			                	</h4>
			                </div>
		                	<div class="col-sm-12" style="">
		                		<div>
		                			<input type="text" name="username" class="inputlogin" placeholder="Username" 
		                				id='username'
		                				data-ng-init="username='onusit14'"
			                			data-ng-model="username" 
			                			data-ng-pattern="/^[A-z0-9]+$/"
			                			data-ng-required="true" />
		                		</div>
		                		
		                		<div>
		                			<input type="password" name="password" class="inputlogin" placeholder="Password" 
		                				id="pass"
			                			data-ng-model="password" 
			                			data-ng-minlength="8" 
			                			data-ng-maxlength="20"
			                			data-ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/"
			                			data-ng-required="true" />
		                		</div>
			                    
			                    <button type="submit" class="btn btn-defult btn-sm btn-block" data-ng-disabled="loginForm.$invalid">
			                    	<span class="glyphicon glyphicon-log-in"></span> &nbsp; <strong>Login</strong>
			                    </button>
			                    <div class="form-inline" id="div">
					                <div class="col-sm-12">
					                	<div class="col-sm-6">
					                    	<label class="checkbox-inline">
												<input type="checkbox" name="loggedin" id="remember_me"/><strong>Stay signed in !</strong>
											</label>
					                    </div>
					                    <div class="col-sm-6" style="padding-top: 5px;">
					                    	<label><strong><a href="#">Forgot Password ?</a></strong></label>
					                    </div>
									</div>
								</div>
							</div>
		                </form>
	                </div>
                </div>
            </div>
        </section>
        
        <script type="text/javascript" src="AngularJS/angular.min.js"></script>
        <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
        <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript">
	        module = angular.module('loginApp', []);
	        module.controller('loginController', function($scope) {
	        	//$scope.username='saif89';
	        });
        </script>
    </body>
</html>
